/* src/pages/ProjectDetail.css */
.project-detail-image {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 2rem;
}

.back-link {
  display: inline-block;
  margin-bottom: 2rem;
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 600;
}

.tools-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 1rem;
}

.tool-tag {
    background-color: var(--light-gray-color);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
}